h3 {
    margin-left: 20px;
}
.calculadora {
    background: lemonchiffon;
    margin-top: 10px;
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: peru;
    box-shadow: 10px 10px 10px 10px #555;
    font-size: 20px;
    width: 350px;
    height: auto;
}
.calculadoraRaiz {
    background: lemonchiffon;
    margin-top: 10px;
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: peru;
    box-shadow: 10px 10px 10px 10px #555;
    font-size: 20px;
    width: 350px;
    height: auto;
}
#btnCalc {
    font-size: 22px;
    width: 80px;
    padding: 5px;
    background: tan;
    margin-top: 15px;
    margin-left: 15px;
}
#btnCalc:hover{
    background: sienna;
    cursor: pointer;
}
 .calculadora input {
    background: tan;
    color: aliceblue;
    border-radius: 5px;
 }
 .calculadoraRaiz input {
    background: tan;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    width: 50px;
    margin: 5px;
 }
.spResul {
    background: tan;
    color: none;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
 }
.listaMensal {
    margin: 10px;
    padding: 20px;
    background: lemonchiffon;
    border-width: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: peru;
    font-size: 20px;
    width: 250px;
    height: auto;
}
#calculaRaiz{
    font-size: 22px;
    width: 80px;
    padding: 5px;
    background: tan;
    margin-top: 15px;
    margin-left: 15px;
}
#calculaRaiz:hover {
    background: sienna;
    cursor: pointer;
}
.calcF, .calcE {
    display: none;
}
#calcFin, #calcESG {
    display: none;
}
#calcFin:checked + .calculadora .calcF {
    display: block;
}
#calcESG:checked + .calculadoraRaiz .calcE {
    display: block;
}
.calculadora:hover, .calculadoraRaiz:hover {
    cursor: pointer;
    border-color: saddlebrown;
    background: sandybrown;
 }